<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Title: <input type="text" name="title" value=""><br><br>
            Posted By: <input type="text" name="posted_by" value=""><br><br>
            Category: <select class="" name="category">
                        {% for category in categories %}
                            <option value="{{category.id}}">{{category.title}}</option>
                        {% endfor %}
                    </select> <br><br>
            Question Description: <input type="text" name="question_desc" value=""><br><br>
            Image: <input type="file" name="question_img" value=""><br><br>
            <input type="hidden" name="question_votes" value=0>
            <input type="submit" name="" value="submit">
        </form>
    </body>
</html>
